body{
    margin: 0;
}
.container{
    background-color: rgb(250, 250, 182);
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    height: 500px;
}
.item{
    flex-grow: 1;
    flex-basis: 500px;
}
.item1{
    background-color: pink;
    flex-shrink: 2;
    order: 1;
}
.item2{
    background-color: rgb(235, 168, 248);
    flex-grow: 2;
}
.item3{
    background-color:skyblue;
    align-self: flex-end;
}
.item4{
    background-color: lightgreen;
    order: -1;
}